.playerCard {
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--neutral);
    box-shadow: 0 0 0.3rem 0 var(--shadow);
    margin: 0.85rem;
    padding: 0.85rem;
    padding-top: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .playerAndScore {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
  }
  
  .playerScoreWrapper {
    height: 13px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
  }
  
  .score {
    width: 8px;
    height: 100%;
    background: #404040;
    margin: 1px;
  }
  
  .playerDrawsNoEl {
    color: var(--primary);
    position: absolute;
    top: 5px;
    right: 5px;
    user-select: none;
  }
  
  .num1El,
  .num2El {
    display: block;
    width: 100%;
    font-weight: 700;
    color: var(--primary);
    font-size: 2rem;
    user-select: none;
  }
  
  .sumEl {
    display: block;
    font-size: 1.5rem;
    margin: 10px auto;
    user-select: none;
  }
  
  .commentEl {
    display: none;
    width: 100%;
    color: var(--primary);
    font-size: 1rem;
    user-select: none;
  }
  
  .pCover {
    position: absolute;
    top: -700px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutralChange);
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    transition: top 500ms ease-in-out;
    background: var(--neutral);
  }
  
  